# Clustering

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

#### Loading preprocessed data

In [10]:
df = pd.read_csv('../1_Preprocessing/preprocessed_data/iris_processed.csv')
print("Data shape:", df.shape)
display(df.head())

Data shape: (150, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,0.222222,0.625000,0.067797,0.041667,setosa
1,0.166667,0.416667,0.067797,0.041667,setosa
2,0.111111,0.500000,0.050847,0.041667,setosa
3,0.083333,0.458333,0.084746,0.041667,setosa
4,0.194444,0.666667,0.067797,0.041667,setosa

#### drop the 'species' column

In [11]:
X = df.drop('species', axis=1)

### K-Means Clustering: Cluster with K=3

In [12]:
kmeans = KMeans(n_clusters=3, random_state=42)
df['cluster'] = kmeans.fit_predict(X)

### Evaluate against true labels

In [13]:
ari = adjusted_rand_score(df['species'], df['cluster'])
print(f"Adjusted Rand Index (k=3): {ari:.2f}")

Adjusted Rand Index (k=3): 0.70